<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Email</title>
</head>

<body>
  <p>Dear <span th:text="${staffName}">, </span></p>
  <p>We regret to inform you that your booking for <span th:text="${attrName}"> </span> on <span th:text="${visitDate}"> </span> is affected by a lost pass. There are no more available passes for booking on <span th:text="${visitDate}"> </span>. Please make a booking on another date. </p>


  <p>Warm regards</p>
  <p>HR Department</p>


</body>

</html>